.grid {
  height: auto;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: #7fffd4;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid;
  cursor: pointer;
}

h1,
h2 {
  color: black;
}

.bomb {
  background-color: red;
}

.checked {
  background-color: #6495ed;
}
