.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #7fffd4;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid;
}

h1,
h2 {
  color: black;
}
