/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  background-color: #7fffd4;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.col {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.left {
  gap: 10px;
}

footer {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.footer-text {
  font-size: 15px;
}

.grid {
  height: auto;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: #7fffd4;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  cursor: pointer;
}

h1,
h2 {
  color: black;
}

.bomb-checked {
  background-color: red;
  color: gold;
}

.checked {
  background-color: #6495ed;
  color: white;
}

.bomb {
  background-color: red;
  color: gold;
}
